<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>com.stockmanager.controller.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUsersServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.ShowUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddUserFormServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.ShowAddUserFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserGroupServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.AddUserGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserGroups</servlet-name>
        <servlet-class>com.stockmanager.User.controller.ShowUserGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionListener</servlet-name>
        <servlet-class>com.stockmanager.User.controller.SessionListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineUsersServlet</servlet-name>
        <servlet-class>com.stockmanager.User.controller.OnlineUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.stockmanager.Order.controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.stockmanager.Product.controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.stockmanager.Dashboard.controller.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUsersServlet</servlet-name>
        <url-pattern>/show-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddUserFormServlet</servlet-name>
        <url-pattern>/add-user-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserGroupServlet</servlet-name>
        <url-pattern>/add-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserGroups</servlet-name>
        <url-pattern>/user-groups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionListener</servlet-name>
        <url-pattern>/SessionListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineUsersServlet</servlet-name>
        <url-pattern>/OnlineUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
