/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 22, 2025, 6:09:36 PM
    Author     : sanuja
*/

.add-form {
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
}

label {
    font-size: 18px;
    font-family: sans-serif;
}

.add-form input, select {
    font-size: 18px;
    width:60%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 3px;
}

.add-form input[type='submit'] {
    background-color: #8ABFA3;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    width: 20%;
    cursor: pointer;
}
