/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 27, 2025, 4:05:25 PM
    Author     : sanuja
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #EAEAEA;
}

#content{
    margin-left: 290px;
    
}

/*---- Side Bar styling ----*/

.side-bar {
     background: rgba(255,255,255,0.1);
     backdrop-filter: blur(15px);
     width: 290px;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
/*     overflow-y: auto;*/
}

.side-bar .menu {
    width: 100%;
    height: 100%;
    background: #686D76;
}

.side-bar .menu .menu-heading {
    position: relative;
    padding: 5px 30px;
    background: #FC6736;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover {
    background: #373A40;
    transition: 0.3s ease;
}

.side-bar .menu .item a span.dropdown {
    position: absolute;
    right: 0;
    margin-right: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background-color: #7D7C7C;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.side-bar .menu .item .sub-menu a{
    padding-left: 80px;
}

.side-bar .menu .item .sub-menu a:hover {
    background: #B4B4B3;
}
.rotate {
    transform: rotate(90deg);
}
/*------------------------------------*/

/*----- content container -----*/
.content-container {
    width: 80%;
    min-height: 200px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    background: white;
    border: none;
    border-radius: 5px;
    margin: 50px auto;
}

.content-heading {
    border-bottom: 2px solid #4D55CC;
    background: #EEEEEE;
    height: 50px;
}

.content-body {
    
}

.content-title {
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}

.content-title::before {
    content: '▣ ';
}

/*---- Nav Bar -----*/
.nav-bar {
    padding: 5px 30px;
    line-height: 60px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    background: white;
    overflow: hidden;
}

.user-profile {
    overflow: hidden;
    float: right;
       
}

.user-profile .user-profile-dropbtn {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 8px;
    cursor: pointer;
    
}

.user-dropdown {
    display: none;
    right: 0;
    top: 70px;
    position: absolute;
    background: white;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown a {
    float: none;
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;  
    line-height: 10px;
}

.user-dropdown a:hover {
    background: #ddd;
}
.show {
    display: block;
}



