/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 6, 2025, 12:04:46 PM
    Author     : sanuja
*/

table {
    width: 95%;
    text-align: center;
}

table, th, td {
    border: 1px solid #9AA6B2;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px auto;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.delete-btn, .update-btn {
    display: inline-block;
    padding: 5px 8px;
    border: none;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.delete-btn {
    background: #BF3131;
}

.update-btn {
    background: #336D82;
}