/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 22, 2025, 6:36:12 PM
    Author     : sanuja
*/

.add-user-btn {
    display: inline-block;
    background-color: #4F959D;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    float: right;
}

table {
    width: 95%;
}

table, th, td {
    border: 1px solid #9AA6B2;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px auto;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

